/* TYPOGRAPHY */
/* ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



/* VARIABLES */
/* ___________________________________ */
:root {

    /* Farver */
    --lightOrange: #FFB365;
    --darkOrange: #ECA55D;

    /* Spacere */
    --generalSpacer: 90px;
    --largeSpacer: 180px;


    /* font sizes */
    --fs-cardDetails: 0.875rem;
    --fs-cardTitle: 1.5rem;
    --fs-breadcrumbs: 1.25rem;
    --fs-text: 1.25rem;
    --fs-h1: 4rem;
    --fs-h2: 3rem;

}


/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Lora", serif;
}






















/* FORSIDE STYLES HER */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: red;
    width: 100%;

}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
    margin: 0 auto;
}

#logo{
    font-size: var(--fs-h2);
    font-family: "Lora", serif;
}






































































































































































































/* OPSKRIFT OVERSIGT STYLES HER */

.opskrift_intro {
    padding: var(--generalSpacer);
    background-color: var(--lightOrange);
    /* display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2; */
}

.opskrift_intro h1 {
    font-size: var(--fs-h1);
    color: white;
}

.opskrift_intro p {
    font-size: var(--fs-text);
    /* width: 65ch; */
    color: white;
}

.opskrift_intro img {
    width: 150px;
}

.opskrift_intro p, img {
    display: flex;
}


































































































































































































/* OPSKRIFT STYLES HER */

























































































































































































































































































































































































































































/* INSPIRATION STYLES HER */

/* Sideviser styling */
.sideviser{
    padding-left: var(--generalSpacer);
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: white;
    background-color: var(--darkOrange);
}

.sideviser>p{
    font-size: var(--fs-text);
}

.sideviser>p>a{
    color: white;
    font-size: var(--fs-text);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Intro section styling */
.inspirationIntroBox{
    display: flex;
    justify-content: space-between;
    padding-left: var(--generalSpacer);
    padding-right: var(--generalSpacer);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: #FFB365;
    height: 500px;
}
.inspirationIntroBox>figcaption>h1{
    font-size: var(--fs-h1);
    line-height: 150%;
}

.inspirationIntroBox>figcaption>p{
    font-size: var(--fs-text);
    max-width: 720px;
    line-height: 150%;
}

.inspirationIntroBox>figure>img{
    width: 620px;
    height: 420px;
    object-fit: cover;
}


/* Styling af indhold */
figure>img{
    max-width: 620px;
}

figcaption{
    margin-right: 2rem;
}
section.inspirationSection:nth-child(odd) {
    background-color: var(--lightOrange);
    color: white;
}

.inspirationSection{
padding: var(--generalSpacer);
}
.inspirationInfoSection{
    display: flex;
    justify-content: space-between;
}

.inspirationInfoSection>figcaption>p{
    font-size: var(--fs-text);
    margin-top: 1rem;
    max-width: 720px;
    line-height: 150%;
}

.inspirationInfoSection>figcaption>h2{
    font-size: var(--fs-h2);
    line-height: 150%;
}

/* Styiling af cards */

.inspirationCards{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.inspirationCard{
    max-width: 250px;
    border-radius: 6px;
    background-color: var(--darkOrange);
    color: white;
    box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.inspirationCard>p{
    padding: .3rem;
    width: 250px;
    height: 70px;   
    font-size: var(--fs-text);
}


.inspirationCard>img{
    width: 250px;
    height: 280px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
}



































































/* OM OS STYLES HER */

.sideviser {
    padding-left: var(--generalSpacer);
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: white;
    background-color: var(--darkOrange);
}

.sideviser>p>a {
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Intro section styling */
.omOsIntroBox {
    display: flex;
    justify-content: space-between;
    padding-left: var(--generalSpacer);
    padding-right: var(--generalSpacer);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: #FFB365;
    height: 500px;

}

.omOsIntroBox>figcaption>h1 {
    font-size: var(--fs-h1);
    line-height: 150%;
}

.omOsIntroBox>figcaption>p {
    max-width: 40rem;
    line-height: 150%;
    font-size: var(--fs-text);
}

.omOsIntroBox>figure>img{
    width: 620px;
    height: 420px;
    object-fit: cover;
    object-position: 100% bottom;
}


/* Indhold styling */
.omOsInfoSection {
    display: flex;
    justify-content: space-between;
    margin-left: var(--generalSpacer);
    margin-right: var(--generalSpacer);
    margin-top: var(--generalSpacer);
}

.omOsInfoSection>figcaption>h2 {
    font-size: var(--fs-h2);
    line-height: 150%;
    max-width: 500px;
}

.omOsInfoSection>figcaption>p {
    max-width: 40rem;
    margin-top: 1rem;
    font-size: var(--fs-text);
}

.omOsKontaktSection {
    display: flex;
    justify-content: space-between;
    margin: var(--generalSpacer);
    text-align: center;
}

.omOsKontaktCard>img {
    margin-bottom: 1rem;
}

.omOsKontaktCard>p {
    color: grey;
}

.omOsKontaktCard>p>a {
    color: grey;
}








