/* TYPOGRAPHY */
/* ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



/* VARIABLES */
/* ___________________________________ */
:root {

    /* Farver */
    --lightOrange: #FFB365;
    --darkOrange: #ECA55D;

    /* Spacere */
    --generalSpacer: 90px;
    --largeSpacer: 180px;


    /* font sizes */
    --fs-cardDetails: 0.875rem;
    --fs-cardTitle: 1.5rem;
    --fs-breadcrumbs: 1.25rem;
    --fs-text: 1.25rem;
    --fs-h1: 4rem;
    --fs-h2: 2.25rem;

}


/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Lora", serif;
}






















/* FORSIDE STYLES HER */







































































































































































































/* OPSKRIFT OVERSIGT STYLES HER */





































































































































































































/* OPSKRIFT STYLES HER */







































































































































































































/* INSPIRATION STYLES HER */








































































































































































































/* OM OS STYLES HER */
